In [105]:
import pandas as pd
import numpy as np
import scipy as sp
import json
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt
from collections import Counter
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [106]:
#import training set
df = pd.read_csv('/Users/Nathan/Springboard/dota2.training.data.csv')

df.head()

,match_id,r1_hero,r1_level,r1_xp,r1_gold,r1_lh,r1_kills,r1_deaths,r1_items,r2_hero,...,dire_tpscroll_count,dire_boots_count,dire_ward_observer_count,dire_ward_sentry_count,dire_first_ward_time,dire_total_gold,dire_total_xp,dire_total_kills,dire_total_deaths,radiant_win
0,1,44,1,1448,1163,14,0,0,7,97,...,0,2,0,0,NaN,4348,6419,0,0,1
1,2,77,1,1311,1809,31,0,0,6,47,...,2,1,3,2,-9.0,3989,5115,0,2,0
2,3,66,2,1477,1367,25,0,0,7,22,...,4,2,2,0,18.0,5096,6007,1,1,1
3,4,5,0,697,807,8,0,0,10,53,...,3,1,0,0,NaN,4907,5937,1,1,0
4,5,102,1,962,1087,11,0,0,6,98,...,2,4,1,0,NaN,5471,5931,2,1,0

In [107]:
enc = OneHotEncoder()
enc.fit(df[['r1_hero']])

//anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

OneHotEncoder(categorical_features=None, categories=None, drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=True)

In [108]:
r1_hero = pd.DataFrame(enc.transform(df[['r1_hero']]).toarray())
r2_hero = pd.DataFrame(enc.transform(df[['r2_hero']]).toarray())
r3_hero = pd.DataFrame(enc.transform(df[['r3_hero']]).toarray())
r4_hero = pd.DataFrame(enc.transform(df[['r4_hero']]).toarray())
r5_hero = pd.DataFrame(enc.transform(df[['r5_hero']]).toarray())

radiant_heroes = r1_hero.add(r2_hero, fill_value = 0).add(r3_hero, fill_value = 0).add(r4_hero, fill_value = 0).add(r5_hero, fill_value = 0)
radiant_heroes

,0,1,2,3,4,5,6,7,8,9,...,100,101,102,103,104,105,106,107,108,109
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
22,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
25,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
180995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
180996,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
180997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
180998,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
180999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181002,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181003,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
181004,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181006,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181009,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181010,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
181013,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181019,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
181022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
181023,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [109]:
#print column names
for col in df.columns:
    print(col)

match_id
r1_hero
r1_level
r1_xp
r1_gold
r1_lh
r1_kills
r1_deaths
r1_items
r2_hero
r2_level
r2_xp
r2_gold
r2_lh
r2_kills
r2_deaths
r2_items
r3_hero
r3_level
r3_xp
r3_gold
r3_lh
r3_kills
r3_deaths
r3_items
r4_hero
r4_level
r4_xp
r4_gold
r4_lh
r4_kills
r4_deaths
r4_items
r5_hero
r5_level
r5_xp
r5_gold
r5_lh
r5_kills
r5_deaths
r5_items
d1_hero
d1_level
d1_xp
d1_gold
d1_lh
d1_kills
d1_deaths
d1_items
d2_hero
d2_level
d2_xp
d2_gold
d2_lh
d2_kills
d2_deaths
d2_items
d3_hero
d3_level
d3_xp
d3_gold
d3_lh
d3_kills
d3_deaths
d3_items
d4_hero
d4_level
d4_xp
d4_gold
d4_lh
d4_kills
d4_deaths
d4_items
d5_hero
d5_level
d5_xp
d5_gold
d5_lh
d5_kills
d5_deaths
d5_items
first_blood_time
first_blood_team
first_blood_player1
first_blood_player2
radiant_bottle_time
radiant_courier_time
radiant_flying_courier_time
radiant_tpscroll_count
radiant_boots_count
radiant_ward_observer_count
radiant_ward_sentry_count
radiant_first_ward_time
radiant_total_gold
radiant_total_xp
radiant_total_kills
radiant_total_deaths
dire_bottle_time
dire_courier_time
dire_flying_courier_time
dire_tpscroll_count
dire_boots_count
dire_ward_observer_count
dire_ward_sentry_count
dire_first_ward_time
dire_total_gold
dire_total_xp
dire_total_kills
dire_total_deaths
radiant_win

In [110]:
#load in heroes JSON file and convert to df
j = json.load((open('/Users/Nathan/Springboard/hero_names.json')))

heroes_df = pd.read_json('/Users/Nathan/Springboard/hero_names.json')

heroes_df.head()

,npc_dota_hero_antimage,npc_dota_hero_axe,npc_dota_hero_bane,npc_dota_hero_bloodseeker,npc_dota_hero_crystal_maiden,npc_dota_hero_drow_ranger,npc_dota_hero_earthshaker,npc_dota_hero_juggernaut,npc_dota_hero_mirana,npc_dota_hero_morphling,...,npc_dota_hero_terrorblade,npc_dota_hero_phoenix,npc_dota_hero_oracle,npc_dota_hero_winter_wyvern,npc_dota_hero_arc_warden,npc_dota_hero_monkey_king,npc_dota_hero_dark_willow,npc_dota_hero_pangolier,npc_dota_hero_grimstroke,npc_dota_hero_mars
agi_gain,3.2,2.2,2.6,3.5,1.6,2.8,1.4,2.8,3.7,4.3,...,4.8,1.3,1.7,1.9,2.4,3.7,1.6,3.2,1.9,1.9
attack_range,150,150,400,150,600,625,150,150,630,350,...,150,500,620,425,625,300,475,150,550,250
attack_rate,1.4,1.7,1.7,1.7,1.7,1.7,1.7,1.4,1.7,1.5,...,1.5,1.7,1.4,1.7,1.7,1.7,1.3,1.7,1.7,1.8
attack_type,Melee,Melee,Ranged,Melee,Ranged,Ranged,Melee,Melee,Ranged,Ranged,...,Melee,Ranged,Ranged,Ranged,Ranged,Melee,Ranged,Melee,Ranged,Melee
base_agi,24,20,23,24,16,29,12,36,18,24,...,22,12,15,16,15,22,18,18,18,20

In [111]:
#transpose heroes df shape so that each row represents a single hero
hero_df = heroes_df.transpose()

hero_df.head()

,agi_gain,attack_range,attack_rate,attack_type,base_agi,base_armor,base_attack_max,base_attack_min,base_health,base_health_regen,...,int_gain,legs,localized_name,move_speed,name,primary_attr,projectile_speed,roles,str_gain,turn_rate
npc_dota_hero_antimage,3.2,150,1.4,Melee,24,-1,33,29,200,0.25,...,1.8,2,Anti-Mage,310,npc_dota_hero_antimage,agi,0,"[Carry, Escape, Nuker]",1.3,0.5
npc_dota_hero_axe,2.2,150,1.7,Melee,20,-2,28,24,200,2.75,...,1.6,2,Axe,295,npc_dota_hero_axe,str,900,"[Initiator, Durable, Disabler, Jungler]",3.4,0.6
npc_dota_hero_bane,2.6,400,1.7,Ranged,23,1,41,35,200,None,...,2.6,4,Bane,305,npc_dota_hero_bane,int,900,"[Support, Disabler, Nuker, Durable]",2.6,0.6
npc_dota_hero_bloodseeker,3.5,150,1.7,Melee,24,0,39,33,200,None,...,1.7,2,Bloodseeker,295,npc_dota_hero_bloodseeker,agi,900,"[Carry, Disabler, Jungler, Nuker, Initiator]",2.7,0.5
npc_dota_hero_crystal_maiden,1.6,600,1.7,Ranged,16,0,36,30,200,None,...,3.3,2,Crystal Maiden,275,npc_dota_hero_crystal_maiden,int,900,"[Support, Disabler, Nuker, Jungler]",2.2,0.5

In [112]:
#placeholder definition as variations of this will be used often
all_heroes = df[['r1_hero', 'r2_hero','r3_hero','r4_hero','r5_hero','d1_hero','d2_hero','d3_hero','d4_hero','d5_hero']]

In [113]:
#calculate radiant team hero frequency
r_heroes = df[['r1_hero', 'r2_hero','r3_hero','r4_hero','r5_hero']]

r_hero_freq = r_heroes.apply(pd.value_counts).sum(axis=1,skipna = True)

r_hero_freq.head()

1    13526
2    10680
3     5932
4     7153
5    14123
dtype: int64

In [114]:
#radiant team hero frequency with win
r_heroes_with_win = df[['r1_hero', 'r2_hero','r3_hero','r4_hero','r5_hero','radiant_win']]

r_heroes_win_only = r_heroes_with_win[r_heroes_with_win['radiant_win'] > 0]

r_heroes_win_only = r_heroes_win_only.drop(columns='radiant_win').apply(pd.value_counts).sum(axis=1,skipna = True)

r_heroes_win_only.head()

1    6736
2    4981
3    2881
4    3329
5    7922
dtype: int64

In [115]:
#radiant team hero win rate
r_heroes_win_per = r_heroes_win_only.divide(r_hero_freq)

In [116]:
#calculate dire team hero frequency
d_heroes = df[['d1_hero','d2_hero','d3_hero','d4_hero','d5_hero']]
d_hero_freq = d_heroes.apply(pd.value_counts).sum(axis=1,skipna = True)
d_hero_freq.head()

1    13864
2    10565
3     6099
4     7050
5    14061
dtype: int64

In [117]:
#dire team hero frequency with win
d_heroes_with_win = df[['d1_hero','d2_hero','d3_hero','d4_hero','d5_hero','radiant_win']]

d_heroes_win_only = d_heroes_with_win[d_heroes_with_win['radiant_win'] == 0]

d_heroes_win_only = d_heroes_win_only.drop(columns='radiant_win').apply(pd.value_counts).sum(axis=1,skipna = True)

d_heroes_win_only.head()

1    6459
2    4674
3    2836
4    3075
5    7441
dtype: int64

In [118]:
#dire team hero win rate
d_heroes_win_per = d_heroes_win_only.divide(d_hero_freq)

In [119]:
d_heroes_win_per.head()

1    0.465883
2    0.442404
3    0.464994
4    0.436170
5    0.529194
dtype: float64

In [120]:
r_heroes_win_per.head()

1    0.498004
2    0.466386
3    0.485671
4    0.465399
5    0.560929
dtype: float64

In [121]:
#average radiant and dire team hero win rates for all hero win rate
all_heroes_win_per = ((d_heroes_win_per + r_heroes_win_per)/2)*100

all_heroes_win_per.sort_values(ascending=False).head()

57     59.731539
67     58.812932
102    58.549115
42     57.560472
36     57.212145
dtype: float64

In [122]:
#radiant team win rate
df['radiant_win'].mean()

0.5117442990984621

In [123]:
#mean total gold by radiant teams with win
r_gold_win = df[['radiant_total_gold','radiant_win' ]]


radiant_mean_gold_if_win = r_gold_win[r_gold_win['radiant_win'] ==1].mean()

radiant_mean_gold_if_lose = r_gold_win[r_gold_win['radiant_win'] == 0].mean()

In [124]:
#mean total gold by dire teams with win
d_gold_win = df[['dire_total_gold','radiant_win' ]]

dire_mean_gold_if_win = d_gold_win[d_gold_win['radiant_win'] ==0].mean()

dire_mean_gold_if_lose = d_gold_win[d_gold_win['radiant_win'] ==1].mean()

In [125]:
mean_gold_if_win = (radiant_mean_gold_if_win[0] + dire_mean_gold_if_win[0])/2
mean_gold_if_win

5657.015217922237

In [126]:
mean_gold_if_lose = (radiant_mean_gold_if_lose[0] + dire_mean_gold_if_lose[0])/2
mean_gold_if_lose

5361.932958443441

In [127]:
#mean total xp by radiant teams with win
r_xp_win = df[['radiant_total_xp','radiant_win' ]]
radiant_mean_xp_if_win = r_xp_win[r_xp_win['radiant_win'] == 1].mean()
radiant_mean_xp_if_lose = r_xp_win[r_xp_win['radiant_win'] == 0].mean()

In [128]:
#mean total gold by dire teams with win
d_xp_win = df[['dire_total_xp','radiant_win' ]]
dire_mean_xp_if_win = d_xp_win[d_xp_win['radiant_win'] == 0].mean()
dire_mean_xp_if_lose = d_xp_win[d_xp_win['radiant_win'] == 1].mean()

In [129]:
mean_xp_if_win = (radiant_mean_xp_if_win[0] + dire_mean_xp_if_win[0])/2
mean_xp_if_win

6358.5066970796925

In [130]:
mean_xp_if_lose = (radiant_mean_xp_if_lose[0] + dire_mean_xp_if_lose[0])/2
mean_xp_if_lose

6146.367340016961

In [131]:
#mean total items by radiant teams with win
r_items_win = df[['r1_items','r2_items','r3_items','r4_items','r5_items','radiant_win']]
radiant_mean_items_if_win = r_items_win[r_items_win['radiant_win'] == 1].mean()
radiant_mean_items_if_lose = r_items_win[r_items_win['radiant_win'] == 0].mean()

In [132]:
#mean total items by dire teams with win
d_items_win = df[['d1_items','d2_items','d3_items','d4_items','d5_items','radiant_win']]
dire_mean_items_if_win = d_items_win[d_items_win['radiant_win'] == 0].mean()
dire_mean_items_if_lose = d_items_win[d_items_win['radiant_win'] == 1].mean()

In [133]:
mean_items_if_win = (radiant_mean_items_if_win[0] + dire_mean_items_if_win[0])/2
mean_items_if_win

7.756156597911167

In [134]:
mean_items_if_lose = (radiant_mean_items_if_lose[0] + dire_mean_items_if_lose[0])/2
mean_items_if_lose

7.549559562842598

In [135]:
#slice radiant time at first bottle item purchase with win, drop na to subset matches with radiant bottle purchase only
r_bottle = df[['radiant_bottle_time', 'radiant_win']].dropna()

In [136]:
#mean time of radiant bottle purchase with win vs. loss
r_bottle.groupby(['radiant_win']).mean()

             radiant_bottle_time
radiant_win
0                     118.047764
1                     114.345904

In [137]:
#count of matches won by radiant team with bottle purchase
r_bottle_win = r_bottle.groupby(['radiant_win']).size()
r_bottle_win

radiant_win
0    64275
1    67802
dtype: int64

In [138]:
#radiant win rate with bottle item
r_bottle_win_per = r_bottle_win[1] / (r_bottle_win[0] + r_bottle_win[1])
r_bottle_win_per

0.5133520597833082

In [139]:
#slice dire time at first bottle item purchase with win, drop na to subset matches with dire bottle purchase only
d_bottle = df[['dire_bottle_time', 'radiant_win']].dropna()

In [140]:
#mean time of dire bottle purchase with win vs. loss
d_bottle.groupby(['radiant_win']).mean()

             dire_bottle_time
radiant_win
0                  115.298575
1                  117.918082

In [141]:
#count of matches won by dire team with bottle purchase
d_bottle_win = d_bottle.groupby(['radiant_win']).size()
d_bottle_win

radiant_win
0    64627
1    66982
dtype: int64

In [142]:
#dire win rate with bottle item
d_bottle_win_per = d_bottle_win[0] / (d_bottle_win[0] + d_bottle_win[1])
d_bottle_win_per

0.49105304348486806

In [143]:
#overall bottle item win rate
bottle_win_per = (r_bottle_win_per + d_bottle_win_per)/2
bottle_win_per

0.5022025516340881

In [144]:
#slice radiant time at first courier item purchase with win, drop na to subset matches with radiant courier purchase only
r_courier = df[['radiant_courier_time', 'radiant_win']].dropna()
r_no_courier = df[['radiant_courier_time', 'radiant_win']]
r_courier.groupby(['radiant_win']).mean()

             radiant_courier_time
radiant_win
0                      -52.473356
1                      -55.737009

In [145]:
r_no_courier["radiant_courier_time"][~r_no_courier["radiant_courier_time"].isna()]=-1
r_no_courier.fillna(1,inplace=True)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:8682: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [146]:
r_no_courier.groupby(['radiant_courier_time']).mean()

                      radiant_win
radiant_courier_time
-1.0                     0.512926
 1.0                     0.479180

In [147]:
#count of matches won by radiant team with courier purchase
r_courier_win = r_courier.groupby(['radiant_win']).size()
r_courier_win

radiant_win
0    85084
1    89600
dtype: int64

In [148]:
#radiant win rate with courier item
r_courier_win_per = r_courier_win[1] / (r_courier_win[0] + r_courier_win[1])
r_courier_win_per

0.512926198163541

In [149]:
#slice dire time at first courier item purchase with win, drop na to subset matches with dire courier purchase only
d_courier = df[['dire_courier_time', 'radiant_win']].dropna()
d_courier.groupby(['radiant_win']).mean()

             dire_courier_time
radiant_win
0                   -56.112380
1                   -52.643638

In [150]:
#count of matches won by dire team with courier purchase
d_courier_win = d_courier.groupby(['radiant_win']).size()
d_courier_win

radiant_win
0    85567
1    89308
dtype: int64

In [151]:
#dire win rate with courier item
d_courier_win_per = d_courier_win[0] / (d_courier_win[0] + d_courier_win[1])
d_courier_win_per

0.4893037884203002

In [152]:
#overall courier item win rate
courier_win_per = (r_courier_win_per + d_courier_win_per)/2
courier_win_per

0.5011149932919206

In [153]:
#slice radiant time at first flying courier item purchase with win, drop na to subset matches with radiant flying courier purchase only
r_fcourier = df[['radiant_flying_courier_time', 'radiant_win']].dropna()
r_fcourier.groupby(['radiant_win']).mean()

             radiant_flying_courier_time
radiant_win
0                              223.59853
1                              222.45330

In [154]:
#count of matches won by radiant team with flying courier purchase
r_fcourier_win = r_fcourier.groupby(['radiant_win']).size()
r_fcourier_win

radiant_win
0    39318
1    46124
dtype: int64

In [155]:
#radiant win rate with flying courier item
r_fcourier_win_per = r_fcourier_win[1] / (r_fcourier_win[0] + r_fcourier_win[1])*100
r_fcourier_win_per

53.98281875424264

In [156]:
#slice dire time at first flying courier item purchase with win, drop na to subset matches with dire flying courier purchase only
d_fcourier = df[['dire_flying_courier_time', 'radiant_win']].dropna()
d_fcourier.groupby(['radiant_win']).mean()

             dire_flying_courier_time
radiant_win
0                          221.671488
1                          222.465330

In [157]:
#count of matches won by dire team with flying courier purchase
d_fcourier_win = d_fcourier.groupby(['radiant_win']).size()
d_fcourier_win

radiant_win
0    46187
1    43107
dtype: int64

In [158]:
#dire win rate with flying courier item
d_fcourier_win_per = d_fcourier_win[0] / (d_fcourier_win[0] + d_fcourier_win[1])*100
d_fcourier_win_per

51.72463995341232

In [159]:
#overall flying courier item win rate
fcourier_win_per = (r_fcourier_win_per + d_fcourier_win_per)/2
fcourier_win_per

52.85372935382748

In [160]:
#slice radiant time at first tpscroll item purchase with win, drop na to subset matches with radiant tpscroll purchase only
r_scroll = df[['radiant_tpscroll_count', 'radiant_win']].dropna()
r_scroll.groupby(['radiant_win']).mean()

             radiant_tpscroll_count
radiant_win
0                          2.895255
1                          2.622887

In [161]:
#count of matches won by radiant team with tpscroll purchase
r_scroll_win = r_scroll.groupby(['radiant_win']).size()
r_scroll_win

radiant_win
0    88386
1    92638
dtype: int64

In [162]:
#radiant win rate with tpscroll item
r_scroll_win_per = r_scroll_win[1] / (r_scroll_win[0] + r_scroll_win[1])*100
r_scroll_win_per

51.17442990984621

In [163]:
#slice dire time at first tpscroll item purchase with win, drop na to subset matches with dire tpscroll purchase only
d_scroll = df[['dire_tpscroll_count', 'radiant_win']].dropna()
d_scroll.groupby(['radiant_win']).mean()

             dire_tpscroll_count
radiant_win
0                       2.611115
1                       2.828979

In [164]:
#count of matches won by dire team with tpscroll purchase
d_scroll_win = d_scroll.groupby(['radiant_win']).size()
d_scroll_win

radiant_win
0    88386
1    92638
dtype: int64

In [165]:
#dire win rate with tpscroll item
d_scroll_win_per = d_scroll_win[0] / (d_scroll_win[0] + d_scroll_win[1])*100
d_scroll_win_per

48.82557009015379

In [166]:
#overall tpscroll item win rate
scroll_win_per = (r_scroll_win_per + d_scroll_win_per)/2
scroll_win_per

50.0

In [167]:
#slice radiant time at first boots item purchase with win, drop na to subset matches with radiant boots purchase only
r_boots = df[['radiant_boots_count', 'radiant_win']].dropna()
r_boots.groupby(['radiant_win']).mean()

             radiant_boots_count
radiant_win
0                       3.070011
1                       3.235217

In [168]:
#count of matches won by radiant team with boots purchase
r_boots_win = r_boots.groupby(['radiant_win']).size()
r_boots_win

radiant_win
0    88386
1    92638
dtype: int64

In [169]:
#radiant win rate with boots item
r_boots_win_per = r_boots_win[1] / (r_boots_win[0] + r_boots_win[1])*100
r_boots_win_per

51.17442990984621

In [170]:
#slice dire time at first boots item purchase with win, drop na to subset matches with dire boots purchase only
d_boots = df[['dire_boots_count', 'radiant_win']].dropna()
d_boots.groupby(['radiant_win']).mean()

             dire_boots_count
radiant_win
0                    3.260777
1                    3.097487

In [171]:
#count of matches won by dire team with boots purchase
d_boots_win = d_boots.groupby(['radiant_win']).size()
d_boots_win

radiant_win
0    88386
1    92638
dtype: int64

In [172]:
#dire win rate with boots item
d_boots_win_per = d_boots_win[0] / (d_boots_win[0] + d_boots_win[1])*100
d_boots_win_per

48.82557009015379

In [173]:
#overall boots item win rate
boots_win_per = (r_boots_win_per + d_boots_win_per)/2
boots_win_per

50.0

In [174]:
#slice radiant time at first ward observer item purchase with win, drop na to subset matches with radian ward observer purchase only
r_ward_obs = df[['radiant_ward_observer_count', 'radiant_win']].dropna()
r_ward_obs.groupby(['radiant_win']).mean()

             radiant_ward_observer_count
radiant_win
0                               1.651913
1                               1.735659

In [175]:
#count of matches won by radiant team with ward observer purchase
r_ward_obs_win = r_ward_obs.groupby(['radiant_win']).size()
r_ward_obs_win
#resulting overall win % will be 50%

radiant_win
0    88386
1    92638
dtype: int64

In [176]:
#slice radiant time at first ward sentry item purchase with win, drop na to subset matches with radiant ward sentry purchase only
r_ward_sen = df[['radiant_ward_sentry_count', 'radiant_win']].dropna()
r_ward_sen.groupby(['radiant_win']).mean()

             radiant_ward_sentry_count
radiant_win
0                             0.237560
1                             0.245051

In [177]:
#count of matches won by radiant team with ward sentry purchase
r_ward_sen_win = r_ward_sen.groupby(['radiant_win']).size()
r_ward_sen_win
#resulting overall win % will be 50%

radiant_win
0    88386
1    92638
dtype: int64

In [178]:
#slice radiant time at first ward item purchase with win, drop na to subset matches with radiant ward purchase only
r_ward = df[['radiant_first_ward_time', 'radiant_win']].dropna()
r_ward.groupby(['radiant_win']).mean()

             radiant_first_ward_time
radiant_win
0                          27.283784
1                          24.359662

In [179]:
#count of matches won by radiant team with ward purchase
r_ward_win = r_ward.groupby(['radiant_win']).size()
r_ward_win

radiant_win
0    72527
1    78810
dtype: int64

In [180]:
#radiant win rate with ward item
r_ward_win_per = r_ward_win[1] / (r_ward_win[0] + r_ward_win[1])*100
r_ward_win_per

52.07583076180974

In [181]:
#slice dire time at first ward sentry item purchase with win, drop na to subset matches with dire ward sentry purchase only
d_ward = df[['dire_first_ward_time', 'radiant_win']].dropna()
d_ward.groupby(['radiant_win']).mean()

             dire_first_ward_time
radiant_win
0                       23.886761
1                       28.328938

In [182]:
#count of matches won by dire team with ward purchase
d_ward_win = d_ward.groupby(['radiant_win']).size()
d_ward_win

radiant_win
0    74895
1    75467
dtype: int64

In [183]:
#dire win rate with ward item
d_ward_win_per = d_ward_win[0] / (d_ward_win[0] + d_ward_win[1])*100
d_ward_win_per

49.80979236775249

In [184]:
#overall ward item win rate
ward_win_per = (r_ward_win_per + d_ward_win_per)/2
ward_win_per

50.94281156478112

In [185]:
df = pd.read_csv('/Users/Nathan/Springboard/dota2.training.data.csv')
df.head()

,match_id,r1_hero,r1_level,r1_xp,r1_gold,r1_lh,r1_kills,r1_deaths,r1_items,r2_hero,...,dire_tpscroll_count,dire_boots_count,dire_ward_observer_count,dire_ward_sentry_count,dire_first_ward_time,dire_total_gold,dire_total_xp,dire_total_kills,dire_total_deaths,radiant_win
0,1,44,1,1448,1163,14,0,0,7,97,...,0,2,0,0,NaN,4348,6419,0,0,1
1,2,77,1,1311,1809,31,0,0,6,47,...,2,1,3,2,-9.0,3989,5115,0,2,0
2,3,66,2,1477,1367,25,0,0,7,22,...,4,2,2,0,18.0,5096,6007,1,1,1
3,4,5,0,697,807,8,0,0,10,53,...,3,1,0,0,NaN,4907,5937,1,1,0
4,5,102,1,962,1087,11,0,0,6,98,...,2,4,1,0,NaN,5471,5931,2,1,0

In [186]:
hero_df = pd.read_json('/Users/Nathan/Springboard/hero_names.json')

In [187]:
hero_df = hero_df.transpose()
hero_df.head()

,agi_gain,attack_range,attack_rate,attack_type,base_agi,base_armor,base_attack_max,base_attack_min,base_health,base_health_regen,...,int_gain,legs,localized_name,move_speed,name,primary_attr,projectile_speed,roles,str_gain,turn_rate
npc_dota_hero_antimage,3.2,150,1.4,Melee,24,-1,33,29,200,0.25,...,1.8,2,Anti-Mage,310,npc_dota_hero_antimage,agi,0,"[Carry, Escape, Nuker]",1.3,0.5
npc_dota_hero_axe,2.2,150,1.7,Melee,20,-2,28,24,200,2.75,...,1.6,2,Axe,295,npc_dota_hero_axe,str,900,"[Initiator, Durable, Disabler, Jungler]",3.4,0.6
npc_dota_hero_bane,2.6,400,1.7,Ranged,23,1,41,35,200,None,...,2.6,4,Bane,305,npc_dota_hero_bane,int,900,"[Support, Disabler, Nuker, Durable]",2.6,0.6
npc_dota_hero_bloodseeker,3.5,150,1.7,Melee,24,0,39,33,200,None,...,1.7,2,Bloodseeker,295,npc_dota_hero_bloodseeker,agi,900,"[Carry, Disabler, Jungler, Nuker, Initiator]",2.7,0.5
npc_dota_hero_crystal_maiden,1.6,600,1.7,Ranged,16,0,36,30,200,None,...,3.3,2,Crystal Maiden,275,npc_dota_hero_crystal_maiden,int,900,"[Support, Disabler, Nuker, Jungler]",2.2,0.5

In [188]:
list_of_all_players = ['r1', 'r2','r3','r4','r5','d1','d2','d3','d4','d5']

In [189]:
for player in list_of_all_players:
    print('Joining data for player: '+ player)
    
    hero_local = hero_df.copy()
    hero_local.columns = player + '_' + hero_df.columns
    
    df = df.merge(hero_local, left_on=[player + '_hero'], right_on=[player + '_id'], how='left')

Joining data for player: r1
Joining data for player: r2
Joining data for player: r3
Joining data for player: r4
Joining data for player: r5
Joining data for player: d1
Joining data for player: d2
Joining data for player: d3
Joining data for player: d4
Joining data for player: d5

In [190]:
df.head()

,match_id,r1_hero,r1_level,r1_xp,r1_gold,r1_lh,r1_kills,r1_deaths,r1_items,r2_hero,...,d5_int_gain,d5_legs,d5_localized_name,d5_move_speed,d5_name,d5_primary_attr,d5_projectile_speed,d5_roles,d5_str_gain,d5_turn_rate
0,1,44,1,1448,1163,14,0,0,7,97,...,2.6,0,Medusa,275,npc_dota_hero_medusa,agi,1200,"[Carry, Disabler, Durable]",1.3,0.5
1,2,77,1,1311,1809,31,0,0,6,47,...,1.4,2,Drow Ranger,285,npc_dota_hero_drow_ranger,agi,1250,"[Carry, Disabler, Pusher]",1.9,0.7
2,3,66,2,1477,1367,25,0,0,7,22,...,1.5,2,Pudge,280,npc_dota_hero_pudge,str,0,"[Disabler, Initiator, Durable, Nuker]",4,0.7
3,4,5,0,697,807,8,0,0,10,53,...,1.5,0,Slardar,290,npc_dota_hero_slardar,str,0,"[Carry, Durable, Initiator, Disabler, Escape]",3.6,0.5
4,5,102,1,962,1087,11,0,0,6,98,...,1.8,2,Ember Spirit,305,npc_dota_hero_ember_spirit,agi,900,"[Carry, Escape, Nuker, Disabler, Initiator]",2.6,0.5

In [191]:
for col in df.columns:
    print(col)

match_id
r1_hero
r1_level
r1_xp
r1_gold
r1_lh
r1_kills
r1_deaths
r1_items
r2_hero
r2_level
r2_xp
r2_gold
r2_lh
r2_kills
r2_deaths
r2_items
r3_hero
r3_level
r3_xp
r3_gold
r3_lh
r3_kills
r3_deaths
r3_items
r4_hero
r4_level
r4_xp
r4_gold
r4_lh
r4_kills
r4_deaths
r4_items
r5_hero
r5_level
r5_xp
r5_gold
r5_lh
r5_kills
r5_deaths
r5_items
d1_hero
d1_level
d1_xp
d1_gold
d1_lh
d1_kills
d1_deaths
d1_items
d2_hero
d2_level
d2_xp
d2_gold
d2_lh
d2_kills
d2_deaths
d2_items
d3_hero
d3_level
d3_xp
d3_gold
d3_lh
d3_kills
d3_deaths
d3_items
d4_hero
d4_level
d4_xp
d4_gold
d4_lh
d4_kills
d4_deaths
d4_items
d5_hero
d5_level
d5_xp
d5_gold
d5_lh
d5_kills
d5_deaths
d5_items
first_blood_time
first_blood_team
first_blood_player1
first_blood_player2
radiant_bottle_time
radiant_courier_time
radiant_flying_courier_time
radiant_tpscroll_count
radiant_boots_count
radiant_ward_observer_count
radiant_ward_sentry_count
radiant_first_ward_time
radiant_total_gold
radiant_total_xp
radiant_total_kills
radiant_total_deaths
dire_bottle_time
dire_courier_time
dire_flying_courier_time
dire_tpscroll_count
dire_boots_count
dire_ward_observer_count
dire_ward_sentry_count
dire_first_ward_time
dire_total_gold
dire_total_xp
dire_total_kills
dire_total_deaths
radiant_win
r1_agi_gain
r1_attack_range
r1_attack_rate
r1_attack_type
r1_base_agi
r1_base_armor
r1_base_attack_max
r1_base_attack_min
r1_base_health
r1_base_health_regen
r1_base_int
r1_base_mana
r1_base_mana_regen
r1_base_mr
r1_base_str
r1_cm_enabled
r1_icon
r1_id
r1_img
r1_int_gain
r1_legs
r1_localized_name
r1_move_speed
r1_name
r1_primary_attr
r1_projectile_speed
r1_roles
r1_str_gain
r1_turn_rate
r2_agi_gain
r2_attack_range
r2_attack_rate
r2_attack_type
r2_base_agi
r2_base_armor
r2_base_attack_max
r2_base_attack_min
r2_base_health
r2_base_health_regen
r2_base_int
r2_base_mana
r2_base_mana_regen
r2_base_mr
r2_base_str
r2_cm_enabled
r2_icon
r2_id
r2_img
r2_int_gain
r2_legs
r2_localized_name
r2_move_speed
r2_name
r2_primary_attr
r2_projectile_speed
r2_roles
r2_str_gain
r2_turn_rate
r3_agi_gain
r3_attack_range
r3_attack_rate
r3_attack_type
r3_base_agi
r3_base_armor
r3_base_attack_max
r3_base_attack_min
r3_base_health
r3_base_health_regen
r3_base_int
r3_base_mana
r3_base_mana_regen
r3_base_mr
r3_base_str
r3_cm_enabled
r3_icon
r3_id
r3_img
r3_int_gain
r3_legs
r3_localized_name
r3_move_speed
r3_name
r3_primary_attr
r3_projectile_speed
r3_roles
r3_str_gain
r3_turn_rate
r4_agi_gain
r4_attack_range
r4_attack_rate
r4_attack_type
r4_base_agi
r4_base_armor
r4_base_attack_max
r4_base_attack_min
r4_base_health
r4_base_health_regen
r4_base_int
r4_base_mana
r4_base_mana_regen
r4_base_mr
r4_base_str
r4_cm_enabled
r4_icon
r4_id
r4_img
r4_int_gain
r4_legs
r4_localized_name
r4_move_speed
r4_name
r4_primary_attr
r4_projectile_speed
r4_roles
r4_str_gain
r4_turn_rate
r5_agi_gain
r5_attack_range
r5_attack_rate
r5_attack_type
r5_base_agi
r5_base_armor
r5_base_attack_max
r5_base_attack_min
r5_base_health
r5_base_health_regen
r5_base_int
r5_base_mana
r5_base_mana_regen
r5_base_mr
r5_base_str
r5_cm_enabled
r5_icon
r5_id
r5_img
r5_int_gain
r5_legs
r5_localized_name
r5_move_speed
r5_name
r5_primary_attr
r5_projectile_speed
r5_roles
r5_str_gain
r5_turn_rate
d1_agi_gain
d1_attack_range
d1_attack_rate
d1_attack_type
d1_base_agi
d1_base_armor
d1_base_attack_max
d1_base_attack_min
d1_base_health
d1_base_health_regen
d1_base_int
d1_base_mana
d1_base_mana_regen
d1_base_mr
d1_base_str
d1_cm_enabled
d1_icon
d1_id
d1_img
d1_int_gain
d1_legs
d1_localized_name
d1_move_speed
d1_name
d1_primary_attr
d1_projectile_speed
d1_roles
d1_str_gain
d1_turn_rate
d2_agi_gain
d2_attack_range
d2_attack_rate
d2_attack_type
d2_base_agi
d2_base_armor
d2_base_attack_max
d2_base_attack_min
d2_base_health
d2_base_health_regen
d2_base_int
d2_base_mana
d2_base_mana_regen
d2_base_mr
d2_base_str
d2_cm_enabled
d2_icon
d2_id
d2_img
d2_int_gain
d2_legs
d2_localized_name
d2_move_speed
d2_name
d2_primary_attr
d2_projectile_speed
d2_roles
d2_str_gain
d2_turn_rate
d3_agi_gain
d3_attack_range
d3_attack_rate
d3_attack_type
d3_base_agi
d3_base_armor
d3_base_attack_max
d3_base_attack_min
d3_base_health
d3_base_health_regen
d3_base_int
d3_base_mana
d3_base_mana_regen
d3_base_mr
d3_base_str
d3_cm_enabled
d3_icon
d3_id
d3_img
d3_int_gain
d3_legs
d3_localized_name
d3_move_speed
d3_name
d3_primary_attr
d3_projectile_speed
d3_roles
d3_str_gain
d3_turn_rate
d4_agi_gain
d4_attack_range
d4_attack_rate
d4_attack_type
d4_base_agi
d4_base_armor
d4_base_attack_max
d4_base_attack_min
d4_base_health
d4_base_health_regen
d4_base_int
d4_base_mana
d4_base_mana_regen
d4_base_mr
d4_base_str
d4_cm_enabled
d4_icon
d4_id
d4_img
d4_int_gain
d4_legs
d4_localized_name
d4_move_speed
d4_name
d4_primary_attr
d4_projectile_speed
d4_roles
d4_str_gain
d4_turn_rate
d5_agi_gain
d5_attack_range
d5_attack_rate
d5_attack_type
d5_base_agi
d5_base_armor
d5_base_attack_max
d5_base_attack_min
d5_base_health
d5_base_health_regen
d5_base_int
d5_base_mana
d5_base_mana_regen
d5_base_mr
d5_base_str
d5_cm_enabled
d5_icon
d5_id
d5_img
d5_int_gain
d5_legs
d5_localized_name
d5_move_speed
d5_name
d5_primary_attr
d5_projectile_speed
d5_roles
d5_str_gain
d5_turn_rate

# agi_gain mean by team, by win

In [192]:
agi_gain = df[['r1_agi_gain', 'r2_agi_gain','r3_agi_gain','r4_agi_gain','r5_agi_gain','d1_agi_gain','d2_agi_gain','d3_agi_gain','d4_agi_gain','d5_agi_gain','radiant_win']]

In [193]:
r_agi_gain = df[['r1_agi_gain', 'r2_agi_gain','r3_agi_gain','r4_agi_gain','r5_agi_gain','radiant_win']]

In [194]:
r_agi_gain[r_agi_gain['radiant_win'] ==1].sum(axis=1).mean()

11.505371445843007

In [195]:
r_agi_gain[r_agi_gain['radiant_win'] ==0].sum(axis=1).mean()

10.564699160500586

In [196]:
d_agi_gain = df[['d1_agi_gain','d2_agi_gain','d3_agi_gain','d4_agi_gain','d5_agi_gain','radiant_win']]

In [197]:
d_agi_gain[d_agi_gain['radiant_win'] ==1].sum(axis=1).mean()

11.548650661715433

In [198]:
d_agi_gain[d_agi_gain['radiant_win'] ==0].sum(axis=1).mean()

10.50017649854046

# attack_range mean by team, by win

In [199]:
r_attack_range = df[['r1_attack_range', 'r2_attack_range','r3_attack_range','r4_attack_range','r5_attack_range','radiant_win']]

Radiant mean attack range with win

In [200]:
r_attack_range[r_attack_range['radiant_win'] ==1].sum(axis=1).mean()

1701.866221205121

Radiant mean attack range with loss

In [201]:
r_attack_range[r_attack_range['radiant_win'] ==0].sum(axis=1).mean()

1722.2543728644807

In [202]:
d_attack_range = df[['d1_attack_range', 'd2_attack_range','d3_attack_range','d4_attack_range','d5_attack_range','radiant_win']]

Dire mean attack range with loss

In [203]:
d_attack_range[d_attack_range['radiant_win'] ==1].sum(axis=1).mean()

1724.3742632612966

Dire mean attack range with win

In [207]:
d_attack_range[d_attack_range['radiant_win'] ==0].sum(axis=1).mean()

1700.326974860272

In [208]:
all_heroes_win_per = all_heroes_win_per[['hero_id', 'win_rate']]

KeyError: "None of [Index(['hero_id', 'win_rate'], dtype='object')] are in the [index]"

In [209]:
all_heroes_win_per.head()

1    48.194335
2    45.439497
3    47.533260
4    45.078467
5    54.506160
dtype: float64

In [210]:
hero_namez = hero_df[['id', 'name']]

In [211]:
hero_win_rates_by_name = all_heroes_win_per.merge(hero_namez, left_on=['hero_id'], right_on=['id'], how='left')

AttributeError: 'Series' object has no attribute 'merge'

In [212]:
hero_win_rates_by_name = hero_win_rates_by_name[['name', 'win_rate']]

NameError: name 'hero_win_rates_by_name' is not defined

In [213]:
hero_win_rates_by_name

NameError: name 'hero_win_rates_by_name' is not defined

In [216]:
hero_win_rates_by_name = hero_win_rates_by_name.sort_values(by=['win_rate'], ascending=False)

NameError: name 'hero_win_rates_by_name' is not defined

In [217]:
advantage = hero_win_rates_by_name['win_rate']>50
hero_win_rates_by_name.where(advantage).dropna()

NameError: name 'hero_win_rates_by_name' is not defined

In [218]:
hero_win_rates_by_name.plot.bar(x='name', rot=0)

NameError: name 'hero_win_rates_by_name' is not defined

In [219]:
sns.barplot(x=hero_win_rates_by_name.name, y=hero_win_rates_by_name['win_rate'])

NameError: name 'hero_win_rates_by_name' is not defined

In [224]:
first_train.columns[first_train.isna().any()].tolist()

NameError: name 'first_train' is not defined

In [ ]:
first_train['first_blood_time'].fillna((first_train['first_blood_time'].mean()), inplace=True)

In [223]:
fbTeam = first_train[['first_blood_team', 'radiant_win']]

NameError: name 'first_train' is not defined

In [225]:
fbTeam.groupby(['first_blood_team']).count()

NameError: name 'fbTeam' is not defined

In [ ]:
first_train['radiant_bottle_time'].fillna((first_train['radiant_bottle_time'].mean()), inplace=True)

In [ ]:
first_train['radiant_courier_time'].fillna((first_train['radiant_courier_time'].mean()), inplace=True)

In [ ]:
first_train['radiant_flying_courier_time'].fillna((first_train['radiant_flying_courier_time'].mean()), inplace=True)

In [ ]:
first_train['radiant_first_ward_time'].fillna((first_train['radiant_first_ward_time'].mean()), inplace=True)

In [ ]:
first_train['dire_courier_time'].fillna((first_train['dire_courier_time'].mean()), inplace=True)

In [ ]:
first_train['dire_bottle_time'].fillna((first_train['dire_bottle_time'].mean()), inplace=True)

In [ ]:
first_train['dire_flying_courier_time'].fillna((first_train['dire_flying_courier_time'].mean()), inplace=True)

In [ ]:
first_train['dire_first_ward_time'].fillna((first_train['dire_first_ward_time'].mean()), inplace=True)

In [ ]:
first_train.columns.get_loc('radiant_win')

In [ ]:
df.to_csv(r'/Users/Nathan/Desktop/capstone_train.csv')

In [ ]:
for col in first_train.columns:
    print(col)

In [ ]:
first_train = first_train.drop(['r1_roles','r2_roles','r3_roles','r4_roles','r5_roles','d1_roles','d2_roles','d3_roles','d4_roles','d5_roles'], axis=1)

In [ ]:
for col in first_train.columns:
    print("'"+col+"'"+",")

In [ ]:
for col_name in first_train.columns:
    if(first_train[col_name].dtype == 'object'):
        first_train[col_name]= first_train[col_name].astype('category')
        first_train[col_name] = first_train[col_name].cat.codes

# Creating Random Forest

In [ ]:
X=first_train[['match_id',
'r1_hero',
'r1_level',
'r1_xp',
'r1_gold',
'r1_lh',
'r1_kills',
'r1_deaths',
'r1_items',
'r2_hero',
'r2_level',
'r2_xp',
'r2_gold',
'r2_lh',
'r2_kills',
'r2_deaths',
'r2_items',
'r3_hero',
'r3_level',
'r3_xp',
'r3_gold',
'r3_lh',
'r3_kills',
'r3_deaths',
'r3_items',
'r4_hero',
'r4_level',
'r4_xp',
'r4_gold',
'r4_lh',
'r4_kills',
'r4_deaths',
'r4_items',
'r5_hero',
'r5_level',
'r5_xp',
'r5_gold',
'r5_lh',
'r5_kills',
'r5_deaths',
'r5_items',
'd1_hero',
'd1_level',
'd1_xp',
'd1_gold',
'd1_lh',
'd1_kills',
'd1_deaths',
'd1_items',
'd2_hero',
'd2_level',
'd2_xp',
'd2_gold',
'd2_lh',
'd2_kills',
'd2_deaths',
'd2_items',
'd3_hero',
'd3_level',
'd3_xp',
'd3_gold',
'd3_lh',
'd3_kills',
'd3_deaths',
'd3_items',
'd4_hero',
'd4_level',
'd4_xp',
'd4_gold',
'd4_lh',
'd4_kills',
'd4_deaths',
'd4_items',
'd5_hero',
'd5_level',
'd5_xp',
'd5_gold',
'd5_lh',
'd5_kills',
'd5_deaths',
'd5_items',
'first_blood_time',
'first_blood_team',
'first_blood_player1',
'first_blood_player2',
'radiant_bottle_time',
'radiant_courier_time',
'radiant_flying_courier_time',
'radiant_tpscroll_count',
'radiant_boots_count',
'radiant_ward_observer_count',
'radiant_ward_sentry_count',
'radiant_first_ward_time',
'radiant_total_gold',
'radiant_total_xp',
'radiant_total_kills',
'radiant_total_deaths',
'dire_bottle_time',
'dire_courier_time',
'dire_flying_courier_time',
'dire_tpscroll_count',
'dire_boots_count',
'dire_ward_observer_count',
'dire_ward_sentry_count',
'dire_first_ward_time',
'dire_total_gold',
'dire_total_xp',
'dire_total_kills',
'dire_total_deaths',
'r1_agi_gain',
'r1_attack_range',
'r1_attack_rate',
'r1_attack_type',
'r1_base_agi',
'r1_base_armor',
'r1_base_attack_max',
'r1_base_attack_min',
'r1_base_health',
'r1_base_int',
'r1_base_mana',
'r1_base_mana_regen',
'r1_base_mr',
'r1_base_str',
'r1_cm_enabled',
'r1_id',
'r1_int_gain',
'r1_legs',
'r1_move_speed',
'r1_primary_attr',
'r1_projectile_speed',
'r1_str_gain',
'r1_turn_rate',
'r2_agi_gain',
'r2_attack_range',
'r2_attack_rate',
'r2_attack_type',
'r2_base_agi',
'r2_base_armor',
'r2_base_attack_max',
'r2_base_attack_min',
'r2_base_health',
'r2_base_int',
'r2_base_mana',
'r2_base_mana_regen',
'r2_base_mr',
'r2_base_str',
'r2_cm_enabled',
'r2_id',
'r2_int_gain',
'r2_legs',
'r2_move_speed',
'r2_primary_attr',
'r2_projectile_speed',
'r2_str_gain',
'r2_turn_rate',
'r3_agi_gain',
'r3_attack_range',
'r3_attack_rate',
'r3_attack_type',
'r3_base_agi',
'r3_base_armor',
'r3_base_attack_max',
'r3_base_attack_min',
'r3_base_health',
'r3_base_int',
'r3_base_mana',
'r3_base_mana_regen',
'r3_base_mr',
'r3_base_str',
'r3_cm_enabled',
'r3_id',
'r3_int_gain',
'r3_legs',
'r3_move_speed',
'r3_primary_attr',
'r3_projectile_speed',
'r3_str_gain',
'r3_turn_rate',
'r4_agi_gain',
'r4_attack_range',
'r4_attack_rate',
'r4_attack_type',
'r4_base_agi',
'r4_base_armor',
'r4_base_attack_max',
'r4_base_attack_min',
'r4_base_health',
'r4_base_int',
'r4_base_mana',
'r4_base_mana_regen',
'r4_base_mr',
'r4_base_str',
'r4_cm_enabled',
'r4_id',
'r4_int_gain',
'r4_legs',
'r4_move_speed',
'r4_primary_attr',
'r4_projectile_speed',
'r4_str_gain',
'r4_turn_rate',
'r5_agi_gain',
'r5_attack_range',
'r5_attack_rate',
'r5_attack_type',
'r5_base_agi',
'r5_base_armor',
'r5_base_attack_max',
'r5_base_attack_min',
'r5_base_health',
'r5_base_int',
'r5_base_mana',
'r5_base_mana_regen',
'r5_base_mr',
'r5_base_str',
'r5_cm_enabled',
'r5_id',
'r5_int_gain',
'r5_legs',
'r5_move_speed',
'r5_primary_attr',
'r5_projectile_speed',
'r5_str_gain',
'r5_turn_rate',
'd1_agi_gain',
'd1_attack_range',
'd1_attack_rate',
'd1_attack_type',
'd1_base_agi',
'd1_base_armor',
'd1_base_attack_max',
'd1_base_attack_min',
'd1_base_health',
'd1_base_int',
'd1_base_mana',
'd1_base_mana_regen',
'd1_base_mr',
'd1_base_str',
'd1_cm_enabled',
'd1_id',
'd1_int_gain',
'd1_legs',
'd1_move_speed',
'd1_primary_attr',
'd1_projectile_speed',
'd1_str_gain',
'd1_turn_rate',
'd2_agi_gain',
'd2_attack_range',
'd2_attack_rate',
'd2_attack_type',
'd2_base_agi',
'd2_base_armor',
'd2_base_attack_max',
'd2_base_attack_min',
'd2_base_health',
'd2_base_int',
'd2_base_mana',
'd2_base_mana_regen',
'd2_base_mr',
'd2_base_str',
'd2_cm_enabled',
'd2_id',
'd2_int_gain',
'd2_legs',
'd2_move_speed',
'd2_primary_attr',
'd2_projectile_speed',
'd2_str_gain',
'd2_turn_rate',
'd3_agi_gain',
'd3_attack_range',
'd3_attack_rate',
'd3_attack_type',
'd3_base_agi',
'd3_base_armor',
'd3_base_attack_max',
'd3_base_attack_min',
'd3_base_health',
'd3_base_int',
'd3_base_mana',
'd3_base_mana_regen',
'd3_base_mr',
'd3_base_str',
'd3_cm_enabled',
'd3_id',
'd3_int_gain',
'd3_legs',
'd3_move_speed',
'd3_primary_attr',
'd3_projectile_speed',
'd3_str_gain',
'd3_turn_rate',
'd4_agi_gain',
'd4_attack_range',
'd4_attack_rate',
'd4_attack_type',
'd4_base_agi',
'd4_base_armor',
'd4_base_attack_max',
'd4_base_attack_min',
'd4_base_health',
'd4_base_int',
'd4_base_mana',
'd4_base_mana_regen',
'd4_base_mr',
'd4_base_str',
'd4_cm_enabled',
'd4_id',
'd4_int_gain',
'd4_legs',
'd4_move_speed',
'd4_primary_attr',
'd4_projectile_speed',
'd4_str_gain',
'd4_turn_rate',
'd5_agi_gain',
'd5_attack_range',
'd5_attack_rate',
'd5_attack_type',
'd5_base_agi',
'd5_base_armor',
'd5_base_attack_max',
'd5_base_attack_min',
'd5_base_health',
'd5_base_int',
'd5_base_mana',
'd5_base_mana_regen',
'd5_base_mr',
'd5_base_str',
'd5_cm_enabled',
'd5_id',
'd5_int_gain',
'd5_legs',
'd5_move_speed',
'd5_primary_attr',
'd5_projectile_speed',
'd5_str_gain',
'd5_turn_rate']]

In [ ]:
y=first_train['radiant_win']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

clf=RandomForestClassifier(n_estimators=100)

clf.fit(X_train,y_train)

In [ ]:
first_train.columns[first_train.isnull().any()]

In [ ]:
first_train = first_train.drop(['r1_base_health_regen', 'r2_base_health_regen', 'r3_base_health_regen',
       'r4_base_health_regen', 'r5_base_health_regen', 'd1_base_health_regen',
       'd2_base_health_regen', 'd3_base_health_regen', 'd4_base_health_regen',
       'd5_base_health_regen'],axis=1)

In [ ]:
y_pred=clf.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
feature_imp = pd.Series(clf.feature_importances_,index=['match_id',
'r1_hero',
'r1_level',
'r1_xp',
'r1_gold',
'r1_lh',
'r1_kills',
'r1_deaths',
'r1_items',
'r2_hero',
'r2_level',
'r2_xp',
'r2_gold',
'r2_lh',
'r2_kills',
'r2_deaths',
'r2_items',
'r3_hero',
'r3_level',
'r3_xp',
'r3_gold',
'r3_lh',
'r3_kills',
'r3_deaths',
'r3_items',
'r4_hero',
'r4_level',
'r4_xp',
'r4_gold',
'r4_lh',
'r4_kills',
'r4_deaths',
'r4_items',
'r5_hero',
'r5_level',
'r5_xp',
'r5_gold',
'r5_lh',
'r5_kills',
'r5_deaths',
'r5_items',
'd1_hero',
'd1_level',
'd1_xp',
'd1_gold',
'd1_lh',
'd1_kills',
'd1_deaths',
'd1_items',
'd2_hero',
'd2_level',
'd2_xp',
'd2_gold',
'd2_lh',
'd2_kills',
'd2_deaths',
'd2_items',
'd3_hero',
'd3_level',
'd3_xp',
'd3_gold',
'd3_lh',
'd3_kills',
'd3_deaths',
'd3_items',
'd4_hero',
'd4_level',
'd4_xp',
'd4_gold',
'd4_lh',
'd4_kills',
'd4_deaths',
'd4_items',
'd5_hero',
'd5_level',
'd5_xp',
'd5_gold',
'd5_lh',
'd5_kills',
'd5_deaths',
'd5_items',
'first_blood_time',
'first_blood_team',
'first_blood_player1',
'first_blood_player2',
'radiant_bottle_time',
'radiant_courier_time',
'radiant_flying_courier_time',
'radiant_tpscroll_count',
'radiant_boots_count',
'radiant_ward_observer_count',
'radiant_ward_sentry_count',
'radiant_first_ward_time',
'radiant_total_gold',
'radiant_total_xp',
'radiant_total_kills',
'radiant_total_deaths',
'dire_bottle_time',
'dire_courier_time',
'dire_flying_courier_time',
'dire_tpscroll_count',
'dire_boots_count',
'dire_ward_observer_count',
'dire_ward_sentry_count',
'dire_first_ward_time',
'dire_total_gold',
'dire_total_xp',
'dire_total_kills',
'dire_total_deaths',
'r1_agi_gain',
'r1_attack_range',
'r1_attack_rate',
'r1_attack_type',
'r1_base_agi',
'r1_base_armor',
'r1_base_attack_max',
'r1_base_attack_min',
'r1_base_int',
'r1_base_mr',
'r1_base_str',
'r1_cm_enabled',
'r1_id',
'r1_int_gain',
'r1_legs',
'r1_move_speed',
'r1_primary_attr',
'r1_projectile_speed',
'r1_str_gain',
'r1_turn_rate',
'r2_agi_gain',
'r2_attack_range',
'r2_attack_rate',
'r2_attack_type',
'r2_base_agi',
'r2_base_armor',
'r2_base_attack_max',
'r2_base_attack_min',
'r2_base_int',
'r2_base_mr',
'r2_base_str',
'r2_cm_enabled',
'r2_id',
'r2_int_gain',
'r2_legs',
'r2_move_speed',
'r2_primary_attr',
'r2_projectile_speed',
'r2_str_gain',
'r2_turn_rate',
'r3_agi_gain',
'r3_attack_range',
'r3_attack_rate',
'r3_attack_type',
'r3_base_agi',
'r3_base_armor',
'r3_base_attack_max',
'r3_base_attack_min',
'r3_base_int',
'r3_base_mr',
'r3_base_str',
'r3_cm_enabled',
'r3_id',
'r3_int_gain',
'r3_legs',
'r3_move_speed',
'r3_primary_attr',
'r3_projectile_speed',
'r3_str_gain',
'r3_turn_rate',
'r4_agi_gain',
'r4_attack_range',
'r4_attack_rate',
'r4_attack_type',
'r4_base_agi',
'r4_base_armor',
'r4_base_attack_max',
'r4_base_attack_min',
'r4_base_int',
'r4_base_mr',
'r4_base_str',
'r4_cm_enabled',
'r4_id',
'r4_int_gain',
'r4_legs',
'r4_move_speed',
'r4_primary_attr',
'r4_projectile_speed',
'r4_str_gain',
'r4_turn_rate',
'r5_agi_gain',
'r5_attack_range',
'r5_attack_rate',
'r5_attack_type',
'r5_base_agi',
'r5_base_armor',
'r5_base_attack_max',
'r5_base_attack_min',
'r5_base_int',
'r5_base_mr',
'r5_base_str',
'r5_cm_enabled',
'r5_id',
'r5_int_gain',
'r5_legs',
'r5_move_speed',
'r5_primary_attr',
'r5_projectile_speed',
'r5_str_gain',
'r5_turn_rate',
'd1_agi_gain',
'd1_attack_range',
'd1_attack_rate',
'd1_attack_type',
'd1_base_agi',
'd1_base_armor',
'd1_base_attack_max',
'd1_base_attack_min',
'd1_base_int',
'd1_base_mr',
'd1_base_str',
'd1_cm_enabled',
'd1_id',
'd1_int_gain',
'd1_legs',
'd1_move_speed',
'd1_primary_attr',
'd1_projectile_speed',
'd1_str_gain',
'd1_turn_rate',
'd2_agi_gain',
'd2_attack_range',
'd2_attack_rate',
'd2_attack_type',
'd2_base_agi',
'd2_base_armor',
'd2_base_attack_max',
'd2_base_attack_min',
'd2_base_int',
'd2_base_mr',
'd2_base_str',
'd2_cm_enabled',
'd2_id',
'd2_int_gain',
'd2_legs',
'd2_move_speed',
'd2_primary_attr',
'd2_projectile_speed',
'd2_str_gain',
'd2_turn_rate',
'd3_agi_gain',
'd3_attack_range',
'd3_attack_rate',
'd3_attack_type',
'd3_base_agi',
'd3_base_armor',
'd3_base_attack_max',
'd3_base_attack_min',
'd3_base_int',
'd3_base_mr',
'd3_base_str',
'd3_cm_enabled',
'd3_id',
'd3_int_gain',
'd3_legs',
'd3_move_speed',
'd3_primary_attr',
'd3_projectile_speed',
'd3_str_gain',
'd3_turn_rate',
'd4_agi_gain',
'd4_attack_range',
'd4_attack_rate',
'd4_attack_type',
'd4_base_agi',
'd4_base_armor',
'd4_base_attack_max',
'd4_base_attack_min',
'd4_base_int',
'd4_base_mr',
'd4_base_str',
'd4_cm_enabled',
'd4_id',
'd4_int_gain',
'd4_legs',
'd4_move_speed',
'd4_primary_attr',
'd4_projectile_speed',
'd4_str_gain',
'd4_turn_rate',
'd5_agi_gain',
'd5_attack_range',
'd5_attack_rate',
'd5_attack_type',
'd5_base_agi',
'd5_base_armor',
'd5_base_attack_max',
'd5_base_attack_min',
'd5_base_int',
'd5_base_mr',
'd5_base_str',
'd5_cm_enabled',
'd5_id',
'd5_int_gain',
'd5_legs',
'd5_move_speed',
'd5_primary_attr',
'd5_projectile_speed',
'd5_str_gain',
'd5_turn_rate']).sort_values(ascending=False)

In [ ]:
feature_imp

removing features with 0 importance

In [ ]:
X=first_train[['match_id',
'r1_hero',
'r1_level',
'r1_xp',
'r1_gold',
'r1_lh',
'r1_kills',
'r1_deaths',
'r1_items',
'r2_hero',
'r2_level',
'r2_xp',
'r2_gold',
'r2_lh',
'r2_kills',
'r2_deaths',
'r2_items',
'r3_hero',
'r3_level',
'r3_xp',
'r3_gold',
'r3_lh',
'r3_kills',
'r3_deaths',
'r3_items',
'r4_hero',
'r4_level',
'r4_xp',
'r4_gold',
'r4_lh',
'r4_kills',
'r4_deaths',
'r4_items',
'r5_hero',
'r5_level',
'r5_xp',
'r5_gold',
'r5_lh',
'r5_kills',
'r5_deaths',
'r5_items',
'd1_hero',
'd1_level',
'd1_xp',
'd1_gold',
'd1_lh',
'd1_kills',
'd1_deaths',
'd1_items',
'd2_hero',
'd2_level',
'd2_xp',
'd2_gold',
'd2_lh',
'd2_kills',
'd2_deaths',
'd2_items',
'd3_hero',
'd3_level',
'd3_xp',
'd3_gold',
'd3_lh',
'd3_kills',
'd3_deaths',
'd3_items',
'd4_hero',
'd4_level',
'd4_xp',
'd4_gold',
'd4_lh',
'd4_kills',
'd4_deaths',
'd4_items',
'd5_hero',
'd5_level',
'd5_xp',
'd5_gold',
'd5_lh',
'd5_kills',
'd5_deaths',
'd5_items',
'first_blood_time',
'first_blood_team',
'first_blood_player1',
'first_blood_player2',
'radiant_bottle_time',
'radiant_courier_time',
'radiant_flying_courier_time',
'radiant_tpscroll_count',
'radiant_boots_count',
'radiant_ward_observer_count',
'radiant_ward_sentry_count',
'radiant_first_ward_time',
'radiant_total_gold',
'radiant_total_xp',
'radiant_total_kills',
'radiant_total_deaths',
'dire_bottle_time',
'dire_courier_time',
'dire_flying_courier_time',
'dire_tpscroll_count',
'dire_boots_count',
'dire_ward_observer_count',
'dire_ward_sentry_count',
'dire_first_ward_time',
'dire_total_gold',
'dire_total_xp',
'dire_total_kills',
'dire_total_deaths',
'r1_agi_gain',
'r1_attack_range',
'r1_attack_rate',
'r1_attack_type',
'r1_base_agi',
'r1_base_armor',
'r1_base_attack_max',
'r1_base_attack_min',
'r1_base_int',
'r1_base_mr',
'r1_base_str',
'r1_cm_enabled',
'r1_id',
'r1_int_gain',
'r1_legs',
'r1_move_speed',
'r1_primary_attr',
'r1_projectile_speed',
'r1_str_gain',
'r1_turn_rate',
'r2_agi_gain',
'r2_attack_range',
'r2_attack_rate',
'r2_attack_type',
'r2_base_agi',
'r2_base_armor',
'r2_base_attack_max',
'r2_base_attack_min',
'r2_base_int',
'r2_base_mr',
'r2_base_str',
'r2_cm_enabled',
'r2_id',
'r2_int_gain',
'r2_legs',
'r2_move_speed',
'r2_primary_attr',
'r2_projectile_speed',
'r2_str_gain',
'r2_turn_rate',
'r3_agi_gain',
'r3_attack_range',
'r3_attack_rate',
'r3_attack_type',
'r3_base_agi',
'r3_base_armor',
'r3_base_attack_max',
'r3_base_attack_min',
'r3_base_int',
'r3_base_mr',
'r3_base_str',
'r3_cm_enabled',
'r3_id',
'r3_int_gain',
'r3_legs',
'r3_move_speed',
'r3_primary_attr',
'r3_projectile_speed',
'r3_str_gain',
'r3_turn_rate',
'r4_agi_gain',
'r4_attack_range',
'r4_attack_rate',
'r4_attack_type',
'r4_base_agi',
'r4_base_armor',
'r4_base_attack_max',
'r4_base_attack_min',
'r4_base_int',
'r4_base_mr',
'r4_base_str',
'r4_cm_enabled',
'r4_id',
'r4_int_gain',
'r4_legs',
'r4_move_speed',
'r4_primary_attr',
'r4_projectile_speed',
'r4_str_gain',
'r4_turn_rate',
'r5_agi_gain',
'r5_attack_range',
'r5_attack_rate',
'r5_attack_type',
'r5_base_agi',
'r5_base_armor',
'r5_base_attack_max',
'r5_base_attack_min',
'r5_base_int',
'r5_base_mr',
'r5_base_str',
'r5_cm_enabled',
'r5_id',
'r5_int_gain',
'r5_legs',
'r5_move_speed',
'r5_primary_attr',
'r5_projectile_speed',
'r5_str_gain',
'r5_turn_rate',
'd1_agi_gain',
'd1_attack_range',
'd1_attack_rate',
'd1_attack_type',
'd1_base_agi',
'd1_base_armor',
'd1_base_attack_max',
'd1_base_attack_min',
'd1_base_int',
'd1_base_mr',
'd1_base_str',
'd1_cm_enabled',
'd1_id',
'd1_int_gain',
'd1_legs',
'd1_move_speed',
'd1_primary_attr',
'd1_projectile_speed',
'd1_str_gain',
'd1_turn_rate',
'd2_agi_gain',
'd2_attack_range',
'd2_attack_rate',
'd2_attack_type',
'd2_base_agi',
'd2_base_armor',
'd2_base_attack_max',
'd2_base_attack_min',
'd2_base_int',
'd2_base_mr',
'd2_base_str',
'd2_cm_enabled',
'd2_id',
'd2_int_gain',
'd2_legs',
'd2_move_speed',
'd2_primary_attr',
'd2_projectile_speed',
'd2_str_gain',
'd2_turn_rate',
'd3_agi_gain',
'd3_attack_range',
'd3_attack_rate',
'd3_attack_type',
'd3_base_agi',
'd3_base_armor',
'd3_base_attack_max',
'd3_base_attack_min',
'd3_base_int',
'd3_base_mr',
'd3_base_str',
'd3_cm_enabled',
'd3_id',
'd3_int_gain',
'd3_legs',
'd3_move_speed',
'd3_primary_attr',
'd3_projectile_speed',
'd3_str_gain',
'd3_turn_rate',
'd4_agi_gain',
'd4_attack_range',
'd4_attack_rate',
'd4_attack_type',
'd4_base_agi',
'd4_base_armor',
'd4_base_attack_max',
'd4_base_attack_min',
'd4_base_int',
'd4_base_mr',
'd4_base_str',
'd4_cm_enabled',
'd4_id',
'd4_int_gain',
'd4_legs',
'd4_move_speed',
'd4_primary_attr',
'd4_projectile_speed',
'd4_str_gain',
'd4_turn_rate',
'd5_agi_gain',
'd5_attack_range',
'd5_attack_rate',
'd5_attack_type',
'd5_base_agi',
'd5_base_armor',
'd5_base_attack_max',
'd5_base_attack_min',
'd5_base_int',
'd5_base_mr',
'd5_base_str',
'd5_cm_enabled',
'd5_id',
'd5_int_gain',
'd5_legs',
'd5_move_speed',
'd5_primary_attr',
'd5_projectile_speed',
'd5_str_gain',
'd5_turn_rate']]

In [ ]:
y=first_train['radiant_win']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

clf=RandomForestClassifier(n_estimators=100)

clf.fit(X_train,y_train)

In [ ]:
y_pred=clf.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
feature_imp2 = pd.Series(clf.feature_importances_,index=['match_id',
'r1_hero',
'r1_level',
'r1_xp',
'r1_gold',
'r1_lh',
'r1_kills',
'r1_deaths',
'r1_items',
'r2_hero',
'r2_level',
'r2_xp',
'r2_gold',
'r2_lh',
'r2_kills',
'r2_deaths',
'r2_items',
'r3_hero',
'r3_level',
'r3_xp',
'r3_gold',
'r3_lh',
'r3_kills',
'r3_deaths',
'r3_items',
'r4_hero',
'r4_level',
'r4_xp',
'r4_gold',
'r4_lh',
'r4_kills',
'r4_deaths',
'r4_items',
'r5_hero',
'r5_level',
'r5_xp',
'r5_gold',
'r5_lh',
'r5_kills',
'r5_deaths',
'r5_items',
'd1_hero',
'd1_level',
'd1_xp',
'd1_gold',
'd1_lh',
'd1_kills',
'd1_deaths',
'd1_items',
'd2_hero',
'd2_level',
'd2_xp',
'd2_gold',
'd2_lh',
'd2_kills',
'd2_deaths',
'd2_items',
'd3_hero',
'd3_level',
'd3_xp',
'd3_gold',
'd3_lh',
'd3_kills',
'd3_deaths',
'd3_items',
'd4_hero',
'd4_level',
'd4_xp',
'd4_gold',
'd4_lh',
'd4_kills',
'd4_deaths',
'd4_items',
'd5_hero',
'd5_level',
'd5_xp',
'd5_gold',
'd5_lh',
'd5_kills',
'd5_deaths',
'd5_items',
'first_blood_time',
'first_blood_team',
'first_blood_player1',
'first_blood_player2',
'radiant_bottle_time',
'radiant_courier_time',
'radiant_flying_courier_time',
'radiant_tpscroll_count',
'radiant_boots_count',
'radiant_ward_observer_count',
'radiant_ward_sentry_count',
'radiant_first_ward_time',
'radiant_total_gold',
'radiant_total_xp',
'radiant_total_kills',
'radiant_total_deaths',
'dire_bottle_time',
'dire_courier_time',
'dire_flying_courier_time',
'dire_tpscroll_count',
'dire_boots_count',
'dire_ward_observer_count',
'dire_ward_sentry_count',
'dire_first_ward_time',
'dire_total_gold',
'dire_total_xp',
'dire_total_kills',
'dire_total_deaths',
'r1_agi_gain',
'r1_attack_range',
'r1_attack_rate',
'r1_attack_type',
'r1_base_agi',
'r1_base_armor',
'r1_base_attack_max',
'r1_base_attack_min',
'r1_base_int',
'r1_base_mr',
'r1_base_str',
'r1_cm_enabled',
'r1_id',
'r1_int_gain',
'r1_legs',
'r1_move_speed',
'r1_primary_attr',
'r1_projectile_speed',
'r1_str_gain',
'r1_turn_rate',
'r2_agi_gain',
'r2_attack_range',
'r2_attack_rate',
'r2_attack_type',
'r2_base_agi',
'r2_base_armor',
'r2_base_attack_max',
'r2_base_attack_min',
'r2_base_int',
'r2_base_mr',
'r2_base_str',
'r2_cm_enabled',
'r2_id',
'r2_int_gain',
'r2_legs',
'r2_move_speed',
'r2_primary_attr',
'r2_projectile_speed',
'r2_str_gain',
'r2_turn_rate',
'r3_agi_gain',
'r3_attack_range',
'r3_attack_rate',
'r3_attack_type',
'r3_base_agi',
'r3_base_armor',
'r3_base_attack_max',
'r3_base_attack_min',
'r3_base_int',
'r3_base_mr',
'r3_base_str',
'r3_cm_enabled',
'r3_id',
'r3_int_gain',
'r3_legs',
'r3_move_speed',
'r3_primary_attr',
'r3_projectile_speed',
'r3_str_gain',
'r3_turn_rate',
'r4_agi_gain',
'r4_attack_range',
'r4_attack_rate',
'r4_attack_type',
'r4_base_agi',
'r4_base_armor',
'r4_base_attack_max',
'r4_base_attack_min',
'r4_base_int',
'r4_base_mr',
'r4_base_str',
'r4_cm_enabled',
'r4_id',
'r4_int_gain',
'r4_legs',
'r4_move_speed',
'r4_primary_attr',
'r4_projectile_speed',
'r4_str_gain',
'r4_turn_rate',
'r5_agi_gain',
'r5_attack_range',
'r5_attack_rate',
'r5_attack_type',
'r5_base_agi',
'r5_base_armor',
'r5_base_attack_max',
'r5_base_attack_min',
'r5_base_int',
'r5_base_mr',
'r5_base_str',
'r5_cm_enabled',
'r5_id',
'r5_int_gain',
'r5_legs',
'r5_move_speed',
'r5_primary_attr',
'r5_projectile_speed',
'r5_str_gain',
'r5_turn_rate',
'd1_agi_gain',
'd1_attack_range',
'd1_attack_rate',
'd1_attack_type',
'd1_base_agi',
'd1_base_armor',
'd1_base_attack_max',
'd1_base_attack_min',
'd1_base_int',
'd1_base_mr',
'd1_base_str',
'd1_cm_enabled',
'd1_id',
'd1_int_gain',
'd1_legs',
'd1_move_speed',
'd1_primary_attr',
'd1_projectile_speed',
'd1_str_gain',
'd1_turn_rate',
'd2_agi_gain',
'd2_attack_range',
'd2_attack_rate',
'd2_attack_type',
'd2_base_agi',
'd2_base_armor',
'd2_base_attack_max',
'd2_base_attack_min',
'd2_base_int',
'd2_base_mr',
'd2_base_str',
'd2_cm_enabled',
'd2_id',
'd2_int_gain',
'd2_legs',
'd2_move_speed',
'd2_primary_attr',
'd2_projectile_speed',
'd2_str_gain',
'd2_turn_rate',
'd3_agi_gain',
'd3_attack_range',
'd3_attack_rate',
'd3_attack_type',
'd3_base_agi',
'd3_base_armor',
'd3_base_attack_max',
'd3_base_attack_min',
'd3_base_int',
'd3_base_mr',
'd3_base_str',
'd3_cm_enabled',
'd3_id',
'd3_int_gain',
'd3_legs',
'd3_move_speed',
'd3_primary_attr',
'd3_projectile_speed',
'd3_str_gain',
'd3_turn_rate',
'd4_agi_gain',
'd4_attack_range',
'd4_attack_rate',
'd4_attack_type',
'd4_base_agi',
'd4_base_armor',
'd4_base_attack_max',
'd4_base_attack_min',
'd4_base_int',
'd4_base_mr',
'd4_base_str',
'd4_cm_enabled',
'd4_id',
'd4_int_gain',
'd4_legs',
'd4_move_speed',
'd4_primary_attr',
'd4_projectile_speed',
'd4_str_gain',
'd4_turn_rate',
'd5_agi_gain',
'd5_attack_range',
'd5_attack_rate',
'd5_attack_type',
'd5_base_agi',
'd5_base_armor',
'd5_base_attack_max',
'd5_base_attack_min',
'd5_base_int',
'd5_base_mr',
'd5_base_str',
'd5_cm_enabled',
'd5_id',
'd5_int_gain',
'd5_legs',
'd5_move_speed',
'd5_primary_attr',
'd5_projectile_speed',
'd5_str_gain',
'd5_turn_rate']).sort_values(ascending=False)

In [ ]:
feature_imp2

In [ ]:
first_train[['radiant_win']].sum()

In [ ]:
pd.DataFrame(first_train)

In [226]:
train3 = pd.read_csv('/Users/Nathan/train3.csv')

In [227]:
train3['radiant_level'] = train3[['r1_level','r2_level','r3_level','r4_level','r5_level']].sum(axis=1)

In [229]:
train3['dire_level'] = train3[['d1_level','d2_level','d3_level','d4_level','d5_level']].sum(axis=1)

In [230]:
train3['radiant_lh'] = train3[['r1_lh','r2_lh','r3_lh','r4_lh','r5_lh']].sum(axis=1)

In [231]:
train3['dire_lh'] = train3[['d1_lh','d2_lh','d3_lh','d4_lh','d5_lh']].sum(axis=1)

In [232]:
train3['radiant_items'] = train3[['r1_items','r2_items','r3_items','r4_items','r5_items']].sum(axis=1)

In [233]:
train3['dire_items'] = train3[['d1_items','d2_items','d3_items','d4_items','d5_items']].sum(axis=1)

In [234]:
train3['radiant_agi_gain'] = train3[['r1_agi_gain','r2_agi_gain','r3_agi_gain','r4_agi_gain','r5_agi_gain']].sum(axis=1)

In [235]:
train3['dire_agi_gain'] = train3[['d1_agi_gain','d2_agi_gain','d3_agi_gain','d4_agi_gain','d5_agi_gain']].sum(axis=1)

In [236]:
train3['radiant_attack_range'] = train3[['r1_attack_range','r2_attack_range','r3_attack_range','r4_attack_range','r5_attack_range']].sum(axis=1)

In [237]:
train3['dire_attack_range'] = train3[['d1_attack_range','d2_attack_range','d3_attack_range','d4_attack_range','d5_attack_range']].sum(axis=1)

In [238]:
train3['radiant_attack_rate'] = train3[['r1_attack_rate','r2_attack_rate','r3_attack_rate','r4_attack_rate','r5_attack_rate']].sum(axis=1)

In [239]:
train3['dire_attack_rate'] = train3[['d1_attack_rate','d2_attack_rate','d3_attack_rate','d4_attack_rate','d5_attack_rate']].sum(axis=1)

In [240]:
train3['radiant_base_agi'] = train3[['r1_base_agi','r2_base_agi','r3_base_agi','r4_base_agi','r5_base_agi']].sum(axis=1)

In [241]:
train3['dire_base_agi'] = train3[['d1_base_agi','d2_base_agi','d3_base_agi','d4_base_agi','d5_base_agi']].sum(axis=1)

In [242]:
train3['radiant_base_armor'] = train3[['r1_base_armor','r2_base_armor','r3_base_armor','r4_base_armor','r5_base_armor']].sum(axis=1)

In [243]:
train3['dire_base_armor'] = train3[['d1_base_armor','d2_base_armor','d3_base_armor','d4_base_armor','d5_base_armor']].sum(axis=1)

In [244]:
train3['radiant_base_attack_max'] = train3[['r1_base_attack_max','r2_base_attack_max','r3_base_attack_max','r4_base_attack_max','r5_base_attack_max']].sum(axis=1)

In [245]:
train3['dire_base_attack_max'] = train3[['d1_base_attack_max','d2_base_attack_max','d3_base_attack_max','d4_base_attack_max','d5_base_attack_max']].sum(axis=1)

In [246]:
train3['radiant_base_attack_min'] = train3[['r1_base_attack_min','r2_base_attack_min','r3_base_attack_min','r4_base_attack_min','r5_base_attack_min']].sum(axis=1)

In [247]:
train3['dire_base_attack_min'] = train3[['d1_base_attack_min','d2_base_attack_min','d3_base_attack_min','d4_base_attack_min','d5_base_attack_min']].sum(axis=1)

In [248]:
train3['radiant_base_int'] = train3[['r1_base_int','r2_base_int','r3_base_int','r4_base_int','r5_base_int']].sum(axis=1)

In [249]:
train3['dire_base_int'] = train3[['d1_base_int','d2_base_int','d3_base_int','d4_base_int','d5_base_int']].sum(axis=1)

In [250]:
train3['radiant_base_str'] = train3[['r1_base_str','r2_base_str','r3_base_str','r4_base_str','r5_base_str']].sum(axis=1)

In [251]:
train3['dire_base_str'] = train3[['d1_base_str','d2_base_str','d3_base_str','d4_base_str','d5_base_str']].sum(axis=1)

In [252]:
train3['radiant_int_gain'] = train3[['r1_int_gain','r2_int_gain','r3_int_gain','r4_int_gain','r5_int_gain']].sum(axis=1)

In [253]:
train3['dire_int_gain'] = train3[['d1_int_gain','d2_int_gain','d3_int_gain','d4_int_gain','d5_int_gain']].sum(axis=1)