In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly.plotly as py
import plotly.graph_objs as go
import json
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
df = pd.read_csv('/Users/Nathan/Springboard/Capstone 1/dota2.training.data.csv')

df.head()

,match_id,r1_hero,r1_level,r1_xp,r1_gold,r1_lh,r1_kills,r1_deaths,r1_items,r2_hero,...,dire_tpscroll_count,dire_boots_count,dire_ward_observer_count,dire_ward_sentry_count,dire_first_ward_time,dire_total_gold,dire_total_xp,dire_total_kills,dire_total_deaths,radiant_win
0,1,44,1,1448,1163,14,0,0,7,97,...,0,2,0,0,NaN,4348,6419,0,0,1
1,2,77,1,1311,1809,31,0,0,6,47,...,2,1,3,2,-9.0,3989,5115,0,2,0
2,3,66,2,1477,1367,25,0,0,7,22,...,4,2,2,0,18.0,5096,6007,1,1,1
3,4,5,0,697,807,8,0,0,10,53,...,3,1,0,0,NaN,4907,5937,1,1,0
4,5,102,1,962,1087,11,0,0,6,98,...,2,4,1,0,NaN,5471,5931,2,1,0

In [3]:
df.columns

Index(['match_id', 'r1_hero', 'r1_level', 'r1_xp', 'r1_gold', 'r1_lh',
       'r1_kills', 'r1_deaths', 'r1_items', 'r2_hero',
       ...
       'dire_tpscroll_count', 'dire_boots_count', 'dire_ward_observer_count',
       'dire_ward_sentry_count', 'dire_first_ward_time', 'dire_total_gold',
       'dire_total_xp', 'dire_total_kills', 'dire_total_deaths',
       'radiant_win'],
      dtype='object', length=110)

In [4]:
j = json.load((open('/Users/Nathan/Springboard/Capstone 1/hero_names.json')))

In [5]:
heroes_df = pd.read_json('/Users/Nathan/Springboard/Capstone 1/hero_names.json')

heroes_df.head()

,npc_dota_hero_antimage,npc_dota_hero_axe,npc_dota_hero_bane,npc_dota_hero_bloodseeker,npc_dota_hero_crystal_maiden,npc_dota_hero_drow_ranger,npc_dota_hero_earthshaker,npc_dota_hero_juggernaut,npc_dota_hero_mirana,npc_dota_hero_morphling,...,npc_dota_hero_terrorblade,npc_dota_hero_phoenix,npc_dota_hero_oracle,npc_dota_hero_winter_wyvern,npc_dota_hero_arc_warden,npc_dota_hero_monkey_king,npc_dota_hero_dark_willow,npc_dota_hero_pangolier,npc_dota_hero_grimstroke,npc_dota_hero_mars
agi_gain,3.2,2.2,2.6,3.5,1.6,2.8,1.4,2.8,3.7,4.3,...,4.8,1.3,1.7,1.9,2.4,3.7,1.6,3.2,1.9,1.9
attack_range,150,150,400,150,600,625,150,150,630,350,...,150,500,620,425,625,300,475,150,550,250
attack_rate,1.4,1.7,1.7,1.7,1.7,1.7,1.7,1.4,1.7,1.5,...,1.5,1.7,1.4,1.7,1.7,1.7,1.3,1.7,1.7,1.8
attack_type,Melee,Melee,Ranged,Melee,Ranged,Ranged,Melee,Melee,Ranged,Ranged,...,Melee,Ranged,Ranged,Ranged,Ranged,Melee,Ranged,Melee,Ranged,Melee
base_agi,24,20,23,24,16,29,12,36,18,24,...,22,12,15,16,15,22,18,18,18,20

In [6]:
heroes_transposed = heroes_df.transpose()

heroes_transposed.head()

,agi_gain,attack_range,attack_rate,attack_type,base_agi,base_armor,base_attack_max,base_attack_min,base_health,base_health_regen,...,int_gain,legs,localized_name,move_speed,name,primary_attr,projectile_speed,roles,str_gain,turn_rate
npc_dota_hero_antimage,3.2,150,1.4,Melee,24,-1,33,29,200,0.25,...,1.8,2,Anti-Mage,310,npc_dota_hero_antimage,agi,0,"[Carry, Escape, Nuker]",1.3,0.5
npc_dota_hero_axe,2.2,150,1.7,Melee,20,-2,28,24,200,2.75,...,1.6,2,Axe,295,npc_dota_hero_axe,str,900,"[Initiator, Durable, Disabler, Jungler]",3.4,0.6
npc_dota_hero_bane,2.6,400,1.7,Ranged,23,1,41,35,200,None,...,2.6,4,Bane,305,npc_dota_hero_bane,int,900,"[Support, Disabler, Nuker, Durable]",2.6,0.6
npc_dota_hero_bloodseeker,3.5,150,1.7,Melee,24,0,39,33,200,None,...,1.7,2,Bloodseeker,295,npc_dota_hero_bloodseeker,agi,900,"[Carry, Disabler, Jungler, Nuker, Initiator]",2.7,0.5
npc_dota_hero_crystal_maiden,1.6,600,1.7,Ranged,16,0,36,30,200,None,...,3.3,2,Crystal Maiden,275,npc_dota_hero_crystal_maiden,int,900,"[Support, Disabler, Nuker, Jungler]",2.2,0.5

In [7]:
all_heroes = df[['r1_hero', 'r2_hero','r3_hero','r4_hero','r5_hero','d1_hero','d2_hero','d3_hero','d4_hero','d5_hero']]

In [8]:
r_heroes = df[['r1_hero', 'r2_hero','r3_hero','r4_hero','r5_hero']]

r_hero_freq = r_heroes.apply(pd.value_counts).sum(axis=1,skipna = True)

r_hero_freq.head()

1    13526
2    10680
3     5932
4     7153
5    14123
dtype: int64

In [9]:
r_heroes_with_win = df[['r1_hero', 'r2_hero','r3_hero','r4_hero','r5_hero','radiant_win']]

r_heroes_win_only = r_heroes_with_win[r_heroes_with_win['radiant_win'] > 0]

r_heroes_win_only = r_heroes_win_only.drop(columns='radiant_win').apply(pd.value_counts).sum(axis=1,skipna = True)

r_heroes_win_only.head()

1    6736
2    4981
3    2881
4    3329
5    7922
dtype: int64

In [10]:
r_heroes_win_only.divide(r_hero_freq)

1      0.498004
2      0.466386
3      0.485671
4      0.465399
5      0.560929
6      0.533977
7      0.537503
8      0.541283
9      0.544962
10     0.450249
11     0.530862
12     0.491606
13     0.421040
14     0.503284
15     0.493655
16     0.493615
17     0.428642
18     0.540394
19     0.500681
20     0.550530
21     0.504405
22     0.580543
23     0.465920
25     0.469030
26     0.487561
27     0.533059
28     0.544130
29     0.539464
30     0.546786
31     0.565770
         ...
82     0.419317
83     0.527400
84     0.533799
85     0.568514
86     0.464130
87     0.528447
88     0.484504
89     0.457352
90     0.506631
91     0.441003
92     0.471453
93     0.509455
94     0.532129
95     0.481884
96     0.542975
97     0.477985
98     0.467964
99     0.503736
100    0.506757
101    0.472442
102    0.606910
103    0.543662
104    0.502209
105    0.489525
106    0.479122
107    0.487820
109    0.526994
110    0.531560
111    0.436566
112    0.520027
Length: 110, dtype: float64